* {

    margin: 0;
    padding: 0;

}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
    /* background-repeat: repeat; */
    background-attachment: scroll;


}


nav {

    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {

    width: 150px;

}

.nav-links {
    flex: 1;
    text-align: right;

}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    transition: 0.5s;
}

.nav-links ul li:hover {
    background-color: rgba(226, 0, 0, 0.7);
    color: black;

}

.nav-links ul li a {

    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
}

.nav-links ul li::after {
    content: '';
    width: 0px;
    height: 2px;
    /* background: rgb(90, 41, 41); */
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;


}


.catlog {
    width: 90%;
    text-align: center;
    font-family: cursive;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}


.catlog h1 {

    text-align: center;
    font-size: 20px;

}


.catlog p {

    padding: 10px 60px;
    text-align: center;
    font-size: 15px;
    font-weight: 200;

}


.catlog a {

    color: #fff;
    text-decoration: none;
    border: 1px solid;
    cursor: pointer;
    padding: 12px 34px;
    background: transparent;
    position: relative;
    font-size: medium;
    transition: 0.5s;

}

.catlog a:hover {
    border: 1px solid #f44336;
    background-color: #f44336;
}


nav.fa {
    display: none;

}


@media(max-width:700px) {
    .catlog h1 {

        text-align: center;
        font-size: 20px;

    }

    .nav-links ul li {

        display: block;
    }

    .nav-links ul li {
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        position: absolute;
        text-align: left;
        z-index: 2;
        background: #A32152;
    }
}


.course {

    width: 80%;
    padding-top: 100px;
    margin: auto;
    text-align: center;
}

h1 {

    font-size: 36px;
    font-weight: 600;

}

p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row {


    margin: 5%;
    display: flex;
    justify-content: space-between;
}

.course-col {

    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 3%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

h3 {

    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.course-col:hover {

    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);

}



/* Campus */
.campus {

    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}


.campus-col img {

    width: 100%;
    display: block;
}


.campus-col {

    flex-basis: 32%;
    border-radius: 10px;
    box-sizing: border-box;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}


.layer {

    background: transparent;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transition: 0.5s;
    position: absolute;
}

.layer:hover {

    background: rgba(226, 0, 0, 0.7);

}

.layer h3 {
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;

}

.layer:hover h3 {

    bottom: 50%;
    opacity: 1;
}


/* Fac */

.facilities {
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}

.fac-col {

    flex-basis: 32%;
    margin-bottom: 5%;
    justify-content: space-between;
    border-radius: 10px;
    text-align: left;
}

.fac-col img {

    width: 100%;
    border-radius: 10px;
}

.fac-col p {
    padding: 0;

}

.fac-col h3 {

    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

.testimonails {

    text-align: center;
    width: 80%;
    padding-top: 100px;
    margin: auto;
}

.test-col {

    margin-bottom: 5%;
    flex-basis: 44%;
    padding: 25px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    text-align: left;
    background: #fff3f3;
    transition: 0.5s;
}

.test-col:hover {

    box-shadow: 0 0 20px 0px;

}

.test-col img {

    border-radius: 50%;
    margin-left: 5px;
    margin-right: 30px;
    height: 40px;
}

.test-col p {
    padding: 0;
    margin-bottom: 10px;
}

.test-col h3 {

    text-align: left;
    margin-top: 40px;
    color: rgb(113, 115, 167);

}

.cta {

    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(banner2.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    border-radius: 50px;
    padding: 100px;
}

.cta h1 {

    columns: #fff;
    margin-bottom: 40px;
    padding: 0;


}

.cta a {
    color: #fff;
    text-decoration: none;
    border: 1px solid;
    cursor: pointer;
    padding: 12px 34px;
    background: transparent;
    position: relative;
    font-size: medium;
    transition: 0.5s;
}

.cta a:hover {
    border: 1px solid #f44336;
    background-color: #f44336;
}

/* footer */


.footer {

    width: 100%;
    text-align: center;
    padding: 30px 0;

}

.footer h4 {

    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;

}

.sub-header {

    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(background.jpg);
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
    text-align: center;
    width: 100%;
    height: 50vh;
    color: #fff;
}

.sub-header-course {
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(background.jpg);
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
    text-align: center;
    width: 100%;
    height: 75vh;
    color: #fff;
}

.sub-header-course h1 {

    /* padding: 0%; */
    /* text-align: center; */
    margin: 80px 60px;
    align-items: center;
    text-transform: uppercase;
    font-family: cursive;

}

.about-us {

    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
    width: 80%;
}

.about-col {
    flex-basis: 48%;
    padding: 30px 2px;
}

.about-col img {
    width: 100%;
}

.about-col h1 {
    margin-bottom: 20px;
    padding-top: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.about-col p {
    padding: 15px 0 30px;
    font-weight: bold;
}

.about-col a {

    color: #f44336;
    text-decoration: none;
    border: 1px solid #f44336;
    cursor: pointer;
    padding: 12px 34px;
    background: transparent;
    position: relative;
    font-size: medium;
    transition: 0.5s;
}


.about-col a:hover {

    border: 1px solid #f44336;
    background-color: #f44336;

}


/* Blog is here */

.blog-content {
    margin: auto;
    padding: 60px 0;
    width: 80%;

}

.blog-left {

    flex-basis: 65%;

}

.blog-left img {

    width: 100%;
}

.blog-left h3 {

    color: #222;
    font-weight: 600;
    margin: 30px 0;
}

.blog-left p {

    color: #999;
    padding: 0;
    font-size: 15px;
}

.blog-right {

    padding: 0;
    flex-basis: 32%;
}

.blog-right h3 {

    background: #f44336;
    color: #ffff;
    padding: 7px 0px;
    font-size: 14px;
    margin-bottom: 20px;
}

.blog-right div {

    display: flex;
    justify-content: space-between;
    color: #222;
    padding: 8px 0px;
    box-sizing: border-box;
    align-items: center;
    font-weight: bold;

}



.comment-button {
    color: #f44336;
    text-decoration: none;
    border: 1px solid #f44336;
    cursor: pointer;
    padding: 10px 20px;
    background: transparent;
    /* position: relative; */
    font-size: 10px;
    transition: 0.5s;
    box-sizing: border-box;
}

.comment-button:hover {

    color: #f44336;
    background: #f44336;
    position: relative;

}

.comment-box {

    border: 1px solid #ccc;
    margin: 50px 0;
    padding: 10px 20px;
}

.comment-box h3 {

    text-align: left;
}

.comment-form input,
.comment-form textarea {

    padding: 10px;
    margin: 15px 0;
    width: 100%;
    outline: none;
    border: none;
    box-sizing: border-box;
    background-color: #f0f0f0;

}

.comment-form button {
    margin: 10px 0px;
}


.free-box {
    border: 1px solid #ccc;
    margin: 50px 0;
    margin-left: 20%;
    padding: 10px 20px;
    align-items: center;
    width: 50%;
    box-shadow: 2px 4px 0 0 gray;
}

.free-box h3 {
    text-align: center;
}



.free-form input,
.free-form textarea {

    padding: 10px;
    margin: 15px 0;
    width: 100%;
    outline: none;
    border: none;
    box-sizing: border-box;
    background-color: #f0f0f0;

}


.free-buttonn {
    color: #f44336;
    text-decoration: none;
    border: 1px solid #f44336;
    cursor: pointer;
    padding: 10px 20px;
    background: transparent;
    /* position: relative; */
    font-size: 10px;
    transition: 0.5s;
    box-sizing: border-box;
    /* text-align: center; */
    margin-left: 45%;
}

.free-buttonn:hover {
    color: #f44336;
    background: #f44336;
    /* position: relative; */
}